{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}

{% block content %}
    <h1>Modifier mot de passe</h1>
<a href="{{path ('app_account')}}">retourne à ton compte</a></br>
<hr>
{% if notification %}
    <div class="alert-danger"> {{notification}}</div>
    {% endif %}
{{form(form)}}
{% endblock %}
